@{
    ViewData["Title"] = "Agenda de Contatos";
}

<div class="text-center">
    <h1 class="display-4">Bem Vinda Denise</h1>
    <p>Deixe tudo guardado em sua agenda e nunca perca os melhores momentos da sua vida</p>
</div>
